/***
Theme Name: cista
Theme URI: https://wordpress.org/themes/cista/
Description: Child Theme of Enigma. This is a Boxed Layout of the Parent Theme Enigma. This theme supports Custom Background and Background Color.
Author: weblizar
Author URI: 
License: GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tested up to: 5.5
Requires PHP: 7.0
Template: enigma
Version: 1.6
Tags: two-columns, three-columns, four-columns, custom-menu, right-sidebar, custom-background, featured-image-header, sticky-post, theme-options, threaded-comments, featured-images, flexible-header, translation-ready 
Text Domain:cista
*/

body.boxed {
    width: 1230px;
	box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5) ;
    -webkit-box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
	-moz-box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
	/*background: url(../../images/bg-patterns/bg_img1.png) repeat;*/
    margin: 0 auto;
	/* padding: 0px 20px; */
}

body.boxed #header .main-header {
	width:1230px;
	margin:0 auto;
}
.boxed  #enigma_nav_top.affix{
max-width: 1230px;
}
.header_section {
    background-color: #31a2dc;
}
.input-group {
    float: right;
    padding-right: 70px;
}
.header_search {
    margin-top: -20px;
}
.header_search #searchform .form-control {
    height: 34px;
}
.header_search #searchform .btn{
	height: 34px;
}

@media(max-width:768px){
body.boxed {
    width: 100%;
	}
}
.enigma_scrollup{
    display: inline !important;
}